<div style="background-color: #eeeeee;border:1px solid #cccccc">
    Time: <span id="time">00:00</span>
</div>
<div>
    Level: <span id="level"></span>
</div>
<div id="levelbase" style="width:200px;height:20px;background-color:#ffff00">
    <div id="levelbar" style="height:19px; width:2px;background-color:red"></div>
</div>
<div>
    Status: <span id="status"></status>
</div>
<div>
    <input type="button" id="record" value="Record" style="color:red">
    <p>This Record button trigger the record event. See the javascript example in the bottom of the page. (View Source in your browser).</p>
    <hr/>
    <input type="button" id="stop" value="Stop">
    <p>This Stop button trigger the stop record event.
    <hr/>
    <input type="button" id="send" value="Send Data">
    <p>This SendData button trigger the sendData event to flash to send the wav data to Server (configured in the host parameter).</p>
    <hr/>
</div>

