.audio-buttons
  display: block
  width: 100%
  margin-top: 20px
  .audio-button
    width: 50%
    padding:
      top: 20px
      bottom: 20px
      left: 0
      right: 0
    margin: 0
.audio-button-icon
  font-size: 32px

.audio-block
  background: rgba(0,0,0,0.8)
