@import "newtone/*.png"
@include all-newtone-sprites

.desktop
  margin-top: 80px

.welcome-block, .results-block, .spinner-block, .results-block
  background-color: $bodyBackground
  min-height: 360px


.newtone-face
  width: 369px
  height: 560px
  position: absolute
  +transition(opacity 0.2s ease)
  &.hidden
    +opacity(0)
  &.visible
    +opacity(100)

.newtone-speach
  font-size: 3*$baseFontSize
  font-weight: 800
  text-align: center

#flash_panel
  width: 290px
  height: 160px
  position: absolute
  z-index: -1000
  background-color: $bodyBackground